@use "../../variables";

@mixin columns-6($is-class-columns: variables.$is-class-columns, $is-data-columns: variables.$is-data-columns) {
  @if $is-class-columns {
    @include class-columns-6 {
      @content;
    }
  }

  @if $is-data-columns {
    @include data-columns-6 {
      @content;
    }
  }
}

@mixin class-columns-6 {
  &.grid-columns-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @content;
  }
}

@mixin data-columns-6 {
  &[data-grid-columns="6"] {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @content;
  }
}
